/* RESET CSS */
.container-fluid {
  padding: 0;
}

.navbar-inverse {
  /*background-color: purple;*/
  background-image: url('../images/bg-purple.jpg');
  border:none;
  border-bottom: 0.5em solid #412A57;
  margin: 0;
}

#wapper {
  /*background-color: #f0f0f0;*/
  background-color: #e0e0e0;
  min-height: 1000px;
}

#header {

}

#banner{
 
}

/* MENU BANNER CSS ==============================================================================*/
#banner #imenu{
  overflow: visible;
  z-index: 10;
  padding-right: 0;
}
#banner #imenu a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ffffff;
}

#banner #imenu .level-1{
   position: relative;
}

#banner #imenu .level-1>li{
  /*background-color: #3fb618;*/
  background-image: url('../images/bg-purple.jpg');
  line-height: 3em;
  padding-left: 1em;
  border-bottom: 1px solid #eeeeee;
  z-index: 11;
}
#banner #imenu .level-1>li:hover{
  background-image: url('../images/bg-green.jpg');
}
#banner #imenu .level-2{
  display: none;
  position: relative;
}
#banner #imenu .level-1>li:hover .level-2>li{
  border-bottom: 1px solid #eeeeee;
  line-height: 2em;
  padding-left: 2em;

}
#banner #imenu .level-1>li:hover .level-2>li>a{
  text-transform: none;
  font-size: 1em;
}
#banner #imenu .level-1>li:hover .level-2{
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 12;
  border-left: 0.3em solid #412A57;
  background-image: url('../images/bg-purple.jpg');
  opacity: 0.95;
  width: 40em;
  min-height: 21em;
  padding-right: 30em;
}


#banner #imenu .level-1 .level-2 .sample{
  display: none;
  position: absolute;
  z-index: 13;
  top: 0;
  left: 27%;

}
#banner #imenu .level-1>li:hover .level-2>li:hover>a{
  color: yellow;
}
#banner #imenu .level-1 .level-2>li:hover .sample{
  display: block;
}

#banner #slide{
  padding-left: 0;
}

#banner #slide iframe{
  margin: 0!important;
}


/* MENUFOOD ======================================================*/
#menu-food{
  /*background-color: #323433;*/
  background-image: url('../images/bg-blue.jpg');
  padding: 2em;
}

.box:hover .box-container div{
  background-color: #000000;
}
.box{
  color: #ffffff;
  text-align: center;
  height: 8em;
  cursor: pointer;
}
.box h3{
  text-transform: uppercase;
  font-size: 2em;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
  font-weight: 900;
}

.box span{
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}


.box1 {
  height: 8em;
  background-color: #fe8802;
  border: 2px solid #fe8802;
  border-radius: 5px;
}

.box2 {
  height: 8em;
  background-color: #f9e604;
  border: 2px solid #f9e604;
  border-radius: 5px;
}

.box3 {
  height: 8em;
  /*background-color: #8ed435;*/
  background-image: url('../images/bg-green.jpg');
  border: 2px solid #8ed435;
  border-radius: 5px;
}

.box3:hover {
  /*background-color: #111111;*/
  background-image: url('../images/bg-purple.jpg');
}


/* BIG-BOX =========================================*/

.big-box .box-title {
  /*background-color: #3fb618;*/
  background: url('../images/bg-purple.jpg');
  line-height: 2em;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 350;
  border-top: 2px solid #0393E3;
}

.big-box .box-title-sm {

  background-image: url('../images/bg-green.jpg');
  line-height: 1.5em;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

.item-wrapper {
  padding: 0.1em;
  color: #ffffff;
}

 .item {
  border: 0.2em solid #eeeeee;
  background-image: url('../images/bg-blue.jpg');
  min-height: 10em;
  padding: 0.4em;
}
 .item img{
  padding: 0;
}

 .item h3 {
  margin: 0;
}

 .item:hover {
  border: 0.2em solid #555555;
}

.big-box .box-body {

}

/* MENU SIDEBAR */
#sidebar {
  margin: 0;
  padding: 0;
}
#sidebar #imenu{
  margin: 0;
  padding: 0;
}

#sidebar #imenu .level-1>li {
  background-image: url('../images/bg-green.jpg');
}

#sidebar #imenu .level-1>li>a {
  line-height: 2em;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 1em;
  font-size: 1.2em;
  color: white;
}

#sidebar #imenu .level-2>li {
  line-height: 1.7em;
  background-image: url('../images/bg-blue.jpg');
  border-bottom: 1px solid #ffffff;
}

#sidebar #imenu .level-2>li>a {
  line-height: 1.6em;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 2em;
  color: white;
}

#sidebar #imenu .level-2>li>a:hover {
  color: blue;
}
/*MAIN CONTENT*/
#main-content {
  padding-right: 0;
}

/* FOOTER */
#footer {
  border-top: 5px solid #aaaaaa;
  background-color: #222222;
  min-height: 15em;
  color: #eeeeee;
}

/* CONTENT-DETAILS*/
#content-details {
  background-image: url('../images/bg-blue.jpg');
  background-color: #2588D9;
  min-height: 1000px;
  background-repeat: repeat-x;
  color: #ffffff;
  font-size: 1.1em;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1em;
}

#content{

}

#content-details #name{
  margin-top: 0em;
  color: #310732;
}

#food-thumnail {
  padding-left: 2em;
}

#meta-data{
  padding: 0;
}

#meta-data th{
  background-image: url('../images/bg-purple.jpg');
}

#tip {
  padding-left: 1em;
}

#tip h3{
  color: #310732;
}

.tab-content {
  padding-left: 1.5em;
}

#food-info {
  padding-left: 1em;
}

.nav-tabs li.active a{
  /*background-color: #3fb618;*/
  background-image: url('../images/bg-purple.jpg');
  color: #ffffff;

}

.nav-tabs li.active a:focus{
  /*background-color: #3fb618;*/
  background-image: url('../images/bg-purple.jpg');
   color: #ffffff;
}

.nav-tabs li.active:hover a{
  background-color: #3fb618;
  background-image: url('../images/bg-purple.jpg');
   color: #ffffff;
}
.nav-tabs li:hover a{
  background-color: #3fb618;
  background-image: url('../images/bg-purple.jpg');
}

.nav-tabs a{
  color: #eeeeee;
  font-size: 1.2em;
}

.tab-pane ul li {
  line-height: 3em;
}

/* CONFIG ANIMATION*/
.sample {
  -webkit-animation-duration: 500ms;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.level-2 {
  -webkit-animation-duration: 500ms;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

